*{padding:0; margin:0}
#back
{
	background-color:black;
	overflow-x: hidden;
}

/* #ok    отображение маркеров о прохождении валидации
{
	margin:1px 3px 1px 1px;
	float:none;
}


#ok img
{
	border:0;
	width:88px;
	height:31px;
	float:left;
	margin-left:3px;
} */
	
#container 
{
	background-color:white;
	/* width:75%; */
	width:1010px;	
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:3px solid silver;
	border-radius:20px;	
	min-width:500px;
}

#header
{
	height:362px;
	color:white; 	
}	

#header img
{
	border:3px solid silver;
	border-radius:20px;
	margin:0 7px 0 5px; 
}


#header p
{	
	font-family:arial;
	position:relative;
	font-weight:bold;
	font-size:22px;
	top:60px;
	left:90px;	
}

.menu_m
{
	border-top:3px solid black;
	border-bottom:3px solid black;
	width:970px;
	margin:0 0 0 20px;
	
}

.menu_main li
{
	display:inline;
}

.menu_main
{
	text-align:center; 
	background:white;
}

.menu_main li a
{
	color:black;
	font-weight:900;
	font-size:18px;
	text-decoration:none;
	padding:15px 10px 15px 10px;
}

.menu_main li.current a
{
	border:3px solid gray; 
	border-radius:20px;
	background:white; 	
	color:black;
	padding:15px 7px 15px 7px;
}

.menu_main li a:hover
{
	border:3px solid black; 
	border-radius:20px;
	background:silver;
	color:black;
	padding:15px 7px 15px 7px;
}

#empty
{
	background-color:black;
	height:30px;
	border:3px solid silver;
	border-radius:20px;
	margin:0 7px 0 5px; 	
}

#page
{
	
	margin:1px; 	
}


.empty_foot
{
	background-color:black;
	height:30px;
	width:990px;
	border:3px solid silver;
	border-radius:20px;
	margin:0 7px 0 5px; 	
}

#content
{
	border:3px solid gray;
	border-radius:10px;
	float:left;	
	width:700px;
	margin:10px 10px 10px 10px;
	
}

#content img
{
	border:3px solid gray;
	border-radius:10px;
	margin:10px 7px 0 12px;
}

#content h2
{
	font-style:italic;
	font-weight:bold;
	font-size:22px;
	padding:5px 0 0 30px
}

#content h4
{
	font-style:italic;
	font-weight:bold;
	font-size:15px;
	padding:5px 0 0 30px
}

#content h1
{
	font-family:arial;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	padding:5px; 
}

#content a
{
	color:black;
}

#history
{	
	border:3px solid gray;
	border-radius:10px;
	margin:20px 10px 10px 10px;
	width:665px;	
	text-align:center;
	font-family:arial;
	font-style:italic;
	font-weight:bold;
	font-size:16px;
	padding:5px; 
}

#hist_img1
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	border:3px solid gray;
	border-radius:10px;
	margin:10px 10px 10px 7px;
	width:648px;
	height:265px;
	text-align:center;
}

#hist_img2
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	border:3px solid gray;
	border-radius:10px;
	margin:10px 10px 10px 7px;
	width:648px;
	height:245px;
	text-align:center;
}

#hist
{
	text-align:left;
	padding:0 0 0 20px;
}

#history img
{
	text-align:center;
}

#poetry_header
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	
	border:3px solid gray;
	border-radius:10px;
	margin:10px 10px 10px 10px;
	width:675px;
}

.verse
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	
	border:3px solid gray;
	border-radius:10px;
	margin:0 10px 7px 10px;
	width:675px;
	text-align:left;
}

#verse_40px
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	padding:0 0 0 10px;
	border:3px solid gray;
	border-radius:10px;
	margin:0 10px 7px 10px;
	width:665px;
	text-align:left;
}

#verse_90px
{
	padding:0 0 0 270px;
	background:-webkit-gradient(linear, left top, right bottom, from(silver), to(white)); /* chrome */
	background: -moz-linear-gradient(left top, silver, white); /* FireFox */
	background: -o-linear-gradient(left top, silver, white 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='silver', endColorstr='white')";  /* MS IE 8 */
	border:3px solid gray;
	border-radius:10px;
	margin:0 10px 7px 10px;
	width:405px;
	text-align:left;
}

#photo
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	
	border:3px solid gray;
	border-radius:10px;
	margin:10px 10px 10px 10px;
	width:675px;
	text-align:center;
	
}

#photo img
{
	border:3px solid gray;
	border-radius:10px;
	margin:15px 7px 15px 7px;
	
}

#songs
{
	border:3px;
	margin:20px 0 0 30px;	
}

#picture img
{
	border:3px solid gray;
	border-radius:10px;
	position:relative;
	top:10px;
	right:20px;	
	float:right;
}

#songs li
{
	list-style-type: none;
	margin:1px 0 1px 0;	
}

#songs li a
{
	list-style-type: none;
	color:black;
	font-size:25px;	
	font-style:italic;
	text-decoration:none; 	
	padding:1px 0 1px 0;
}

#songs li a:hover
{
	text-decoration:underline;
	padding:0;
}

#songs li a:visited
{
	text-decoration:underline;
	color:gray;
	padding:0;
}

#zakon 
{
	background:-webkit-gradient(linear, left top, right bottom, from(white), to(silver)); /* chrome */
	background: -moz-linear-gradient(left top, white, silver); /* FireFox */
	background: -o-linear-gradient(left top, white, silver 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
		
	border:3px solid gray;
	border-radius:10px;
	margin:10px 10px 10px 10px;
	width:670px;	
}

#zakon  p
{
	text-align:right;
	font-size:18px;
	padding:0 20px 3px 20px;
	
}

#formula
{
	position:relative;
	top:10px;
	left:300px;
}

#hist_group
{
	background:-webkit-gradient(linear, left top, right bottom, from(silver), to(white)); /* chrome */
	background: -moz-linear-gradient(left top, silver, white); /* FireFox */
	background: -o-linear-gradient(left top, silver, white 70%); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='silver')";  /* MS IE 8 */
	border:3px solid gray;
	border-radius:10px;
	margin:10px 10px 10px 7px;
	width:645px;
}

#derector p
{
	text-align:right;
	font-size:18px;
	padding:0 20px 10px 20px;
}

#menu
{
	border:3px solid gray;
	border-radius:10px;
	width:275px;
	margin: 10px 20px 0 720px; 
}

.menu_header
{
	padding:0 0 0 0;
	text-align:center;
	font-style:italic;
	font-size:21px;
}

#menu img
{
	border:3px solid silver;
	border-radius:10px;
	margin:5px 0 0 5px;
}

#menu a
{
	color:black;
	text-decoration:none;
}

#menu p
{
	font-style:italic;
	font-weight:bold;
	font-size:22px;
	padding:5px 0 0 10px
}

.pod_menu
{
	border:3px solid silver;
	border-radius:10px;
	width:250px;
	margin: 10px 10px 10px 10px;	
}

.pod_menu a
{
	color:black;
}

#footer
{
	margin:10px 0 20px 0;	
	position:relative;
}	

#footer img
{
	border:3px solid silver;
	border-radius:20px;
	margin:10px 7px 0 5px; 
}

#footer p
{	
	position:relative;
	font-style:italic;
	font-size:14px;
	color:white;
	top:325px;
	left:770px;	
}

#ZemKrugList
{
	width:670px;
	margin:0 0 0 10px;
	margin:0 0 20px 15px;
}

#ZemKrugList  img
{
	border:2px solid black;
	border-radius:0 0 10px 10px;
	float:left;
	margin:0 0 0 0;
}

#ZemKrugList  p
{
	text-align:right;
	font-size:18px;
	padding:400px 3px 1px 0;
}

/* #songs a:hover
{
	text-decoration: underline;
	font-weight:bold;
}

#songs a:visited
{
	text-decoration: underline;
	font-weight:bold;
} */

.teachers
{
	text-align:center;
	margin:10px 0 10px 0
}

.menu_song
{
	width:670px;
	margin:0 0 0 0;
	margin:0 0 0 0;
}

.menu_song li
{
	display:inline;
	float:left;
}

#ZemKrugList a img:hover
{
	opacity: 0.7;
	/* border:3px soild black;
	box-shadow:inset 10px 10px; */
}

/* #ZemKrugList a img:active  ???????????????????????????????????????
{
	opacity: 0.7;
}

#ZemKrugList a img:active
{
	opacity: 0.7;
} */

 #ad1 img
{
	border:3px solid silver;
	border-radius:10px;
	position:fixed;
	top:80px;
	left:10px;	
} 
#ad2 img
{
	border:3px solid silver;
	border-radius:10px;
	position:fixed;
	top:250px;
	left:10px;	
} 

#ad3 img
{
	border:3px solid silver;
	border-radius:10px;
	position:fixed;
	top:420px;
	left:10px;	
} 
